.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; margin-left: 36px; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.valuesuggest-language-container,
.valuesuggest-vocab-container {
    position: relative;
}

.valuesuggest-vocab-container {
    margin-left: 35px;
}

.valuesuggest-vocab-container .label.o-icon-vocab {
    background-color: transparent;
}

.valuesuggest-language-container.active + .valuesuggest-vocab-container {
    margin-left: 0;
}

.valuesuggest-language-container {
    margin-top: -1px;
    margin-bottom: -1px;
    z-index: 1;
    background-color: #fff;
}

.valuesuggest-id-container {
    display: flex;
    padding: 0 6px;
    border: 1px solid rgba(0,0,0,0.15);
    border-top: 0;
    position: relative;
}

.valuesuggest-id {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 36px;
}

input.valuesuggest-input {
    padding-left: 42px;
}

.inputs .valuesuggest-language-container a.value-language.active {
    border-color: #dfdfdf;
}

.inputs .valuesuggest-language-container a.value-language {
    background-color: #fff;
    cursor: pointer;
}
