.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden;  }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.valuesuggest-id-container,
.valuesuggest-language-container,
.valuesuggest-vocab-container {
    position: relative;
}

.valuesuggest-vocab-container input {
    box-shadow: none;
    border: 0;
}

.valuesuggest-id-container, 
.valuesuggest-vocab-container label {
    border: 1px solid #dfdfdf;
    background-color: #fff;
    margin: 0;
    padding: 0 0 0 6px;
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
}

.valuesuggest-id-container .icon,
.valuesuggest-vocab-container .icon {
    background-color: rgba(0,0,0,.04);
    border-radius: 2px;
    font-size: 14px;
    margin: 6px;
    padding: 0 6px;
}

.inputs button.valuesuggest-id-remove {
    margin-left: auto;
    width: 36px;
    background: transparent;
    border: 0;
    box-shadow: none;
    color: #a91919;
    padding: 0;
    min-height: 0;
}

.valuesuggest-language-container.active + .valuesuggest-vocab-container {
    margin-left: 0;
}

.valuesuggest-language-container {
    margin-top: -1px;
    margin-bottom: -1px;
    z-index: 1;
    background-color: #fff;
}

.valuesuggest-id-container {
    display: flex;
    border-top: 0;
    position: relative;
    line-height: 24px;
}

.valuesuggest-id {
    max-width: calc(100% - 5em);
    padding: 0 6px;
}

.valuesuggest-id a {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    white-space: nowrap;
}

.inputs .valuesuggest-language-container a.value-language.active {
    border-color: #dfdfdf;
}

.inputs .valuesuggest-language-container a.value-language {
    background-color: #fff;
    cursor: pointer;
}
